@import 'tailwindcss';

/* Highlight on hover */
.leaflet-interactive:hover {
  fill: #bc9247 !important;
  stroke: #ffffff !important;
}

/* Zoom Control */
.leaflet-control-zoom {
  display: flex !important;
  bottom: 50px !important;
  flex-direction: column !important;
  gap: 0.88rem !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border-radius: 0.375rem !important;
  background: rgba(183, 143, 116, 0.4) !important;
}
